* {
    padding:0;
    margin:0;
    font-family: 'Quicksand', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    background-color: #9c5b40;
}
header h1 {
    padding:20px 20px;
    color: #fff;
    font-size: 22px;
}
header ul {
    color: #fff;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding:25px 15px;
    display:inline-block;
}
header ul li a:hover {
    background-color: #e2b091;
    color: #000;;
}
.active {
    background-color: #e2b091;
    color: #000;
}
.container {
    width:90% 0;
    margin:0 auto;
}
.box {
    width: 450px 0;
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    color: #fff;
}
.banner {
    height: 80vh;
    background-image: url('../img/foto\ untuk\ vs\ code.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    background-size: cover;
    width: 180px;
    height: 250px;
    top: 70px;
    bottom: 0;
    border: 3px solid #000;
}
.banner h2 {
    color: #000;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid;
    background-color: rgb(253, 254, 255, .6);
    border-radius: 10px;
    
}
section {
    padding:50px 0;
}
section h3 {
    text-align: center;
    padding: 20px 0;
    color: #000;
    margin-bottom: 30px;
}
.about p {
    color: #000;
    word-spacing: 2px;
    line-height: 25px;
    margin: 15px;
}
.medsos {
    padding: 80px 0;
    background-color: #e2b091;
    text-align: center;
    margin: auto;
}
.medsos ul {
    margin: 0;
    padding: 0;
}
.medsos ul li {
    display: inline-block;
    margin: 6px;
}
.medsos ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    color: #000;
    margin-right: 20px;
    margin-left: 20px;
}
footer {
    padding:30px 0;
    background-color: #9c5b40;
    color: #000;
    text-align: center;
}
@media screen and (max-width: 922px) {
    header, .banner .box, .about .container, .medsos .container, footer .container {
        width: 100% 0;
    }
}
